.main {
    position: absolute;
    font-family: "Arial";
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    width: 550px; height: 150px;
    left:0; right:0; top:0; bottom: 0;
    margin: auto;
    border: 1px dotted;
    padding-top: 30px;
    line-height: 3;
    display: table;
}
.optional {
    font-weight: lighter;
    font-style: italic;
}
table {
    text-align: left;
    margin: 0 auto;
}
td {
    line-height: 1.5;
    vertical-align: top;
    padding-left: 10px;
}
tr {
    height: 40px;
}
input[type="number"] {
    width: 120px;
}